@media screen and (max-width:576px){
    .list{
        display: none;
    }
    .navbar{
        /* display: flex; */
        padding: 10px;
        margin: 0;
        /* flex-direction: column; */
    }
    .hamburger{
        text-decoration: none;
        display: flex;
        
    }
    .nav{
        height: fit-content;
    }
    .hamburger>a{
        text-decoration: none;
        color: white;

    }
    .slogun{
        width: 285px;
        height: 129px;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 36px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
    }
    .title{
        /* border: 0px; */
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .container{
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width:577px) and (max-width:998px) {
    .navbar{
        padding: 10px;
        margin: 0 auto;
    }
    .list{
        list-style: none;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 39px;
        padding: 10px;
    }
    .banner-pic{
        position: relative;
    }
    .nav-links:hover{
        background-color: rgb(230, 83, 60);
        padding: 5px;
        transition: .6s;
        /* transform: translateY(2.3); */
        border-radius: 10px;
        box-shadow: 10px 20px 20px grey;
    }
    .list{
        padding: 10px;
    }
}